#
# This is free and unencumbered software released into the public domain.
#

# ldap host name
host=localhost

# If ApacheDS:
# This param tells fortress what type of ldap server in use:
ldap.server.type=apacheds
port=10389
admin.user=uid=admin,ou=system
admin.pw=secret

# if OpenLDAP
#ldap.server.type=openldap
#port=389
#admin.user=cn=manager,dc=example,dc=com

# This is min/max settings for LDAP administrator pool connections that have read/write access to all nodes under suffix:
min.admin.conn=1
max.admin.conn=10

# Use truststore genned [Managing PKI Keys]
# Due to limitations with this example's JDBC SSL impl, the java truststore must be specified as a fully qualified filename present on the machine:
trust.store=/path/to/mytruststore
trust.store.password=changeit
trust.store.onclasspath=false

# Used for SSL Connection to LDAP Server:
enable.ldap.ssl=true
enable.ldap.ssl.debug=false

# These are the JDBC configuration params for MyBatis DAO connect to MySQL database example:
database.driver=com.mysql.jdbc.Driver
database.url=jdbc:mysql://fortressdemo2.com:3306/demoDB?useSSL=true&requireSSL=true
database.username=admin
database.password=secret

# This node contains fortress properties stored on behalf of connecting LDAP clients:
config.realm=DEFAULT
config.root=ou=Config,dc=example,dc=com

# Used by application security components:
perms.cached=true

# Fortress uses a cache:
ehcache.config.file=ehcache.xml

# Default for pool reconnect flag is false:
enable.pool.reconnect=true
