body, td, th , tr
{
color: #000000;
font-size: small;
font-family: verdana, sans-serif;
}
body
{
background-color: #808471;
margin: 0px;
padding: 12px 45px 4px 45px;
}
input, textarea, button
{
color: #000000;
font-family: verdana, sans-serif;
}
input, button
{
font-size: 90%;
}

textarea
{
font-size: 100%;
color: #000000;
font-family: verdana, sans-serif;
}
.smalltext
{
font-size: x-small;
font-family: verdana, sans-serif;
}
.middletext
{
font-size: 90%;
}
.normaltext
{
font-size: small;
}
.largetext
{
font-size: large;
}